@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
font-family: 'Poppins';
box-sizing: border-box;
}

body {
padding: 60px 100px;
height: 100vh;
}

#root {
height: 100%;
}
